
---
title: 视频
---

<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn active" href="/photos/videos.html">Videos</a>
</div>
<center><h1>▼什么是比特币▼</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://v.qq.com/iframe/player.html?vid=q0143we4cvc&tiny=0&auto=0" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


